<div class="container">
  <form name="login" action="/login" method="post">
    <p><label>Login</label>
    <input name="email" type="text" placeholder="email">
    <input name="password" placeholder="password">
    <input type="submit" value="Submit"></p>
  </form>
   
   <form name="signin" action="/signin" method="post">
    <p><label>Sign-in</label>
      <input name="name" type="text" placeholder="name">
      <input name="email" type="text" placeholder="email">
    <input name="password" type="text" placeholder="password">
    <input type="submit" value="Submit"></p>
  </form>
  <% if @failed_login_message %>
    <p><%= puts failed_login_message %></p>
  <% end %>
</div>
